.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-item {
  position: relative;
  display: block;
  padding: .5rem 1rem; 
  color: #5c5c5c;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #e5e7eb;
}
 

